---
import Alpine from 'alpinejs';
import Ptp from "./ptp.astro";

import {serverURL} from "../pages/conf";

let sessionId = Astro.cookies.get('sessionId').value;

const boardMembers = await fetch(`${serverURL}/boards/board-members/`, {
    method: 'POST', headers: {
        'Content-Type': 'application/json'
    }, body: JSON.stringify({sessionId: sessionId, boardId: 1})
});


const {data: users} = await boardMembers.json();
---

<aside class="sidebar">
    <nav class="sidebar-content">
        <hr/>
        <h1>Mitglieder</h1>
        <ul class="sidebar-users">
            {users.map(user => (
                    <li class="user-item">
                        <!-- Profile Section -->
                        <div x-data="{ showProfile: false }">
                            <button class="profileIcon" @click="showProfile = !showProfile">
                                <i class="fa-solid fa-user"></i>
                            </button>
                            <template x-if="showProfile">
                                <!-- Add profile content component here when needed -->
                            </template>
                        </div>

                        <p>{user?.firstName} {user?.lastName}</p>

                        <!-- Chat Section -->
                        <div x-data="{ showChat: false }">
                            <button class="chatCheckBox" @click="showChat = !showChat"
                                    style="cursor: pointer">
                                <i class="fa-regular fa-comment"></i>
                            </button>
                            <template x-if="showChat">
                                <Ptp/>  <!-- Add client directive for hydration -->
                            </template>
                        </div>
                    </li>
            ))}
        </ul>

        <!-- Add User Section -->
        <ul>
            <li>Add user</li>
            <div x-data="{ userEmail: '' }">
                <input type="text" placeholder="Enter user email" x-model="userEmail"/>
                <button @click="if (!userEmail.trim()) { alert('Please enter a valid email'); return false; }"
                        hx-post=`${serverURL}/boards/board-member-to-board`
                        hx-headers='{"Content-Type": "application/json"}'
                        hx-trigger="click"
                        hx-include="[x-model]"
                        hx-swap="outerHTML">
                    Add
                </button>
            </div>
        </ul>
        <hr/>
    </nav>
    <div class="sidebar-footer">
        <p></p>
    </div>
</aside>