---
import Alpine from 'alpinejs';
import Ptp from "./ptp.astro";

import {serverURL} from "../pages/conf";

let sessionId = Astro.cookies.get('sessionId').value;
console.log('List Session ID:', sessionId);

const boardMembers = await fetch(`${serverURL}/boards/board-members/`, {
    method: 'POST', headers: {
        'Content-Type': 'application/json'
    }, body: JSON.stringify({sessionId: sessionId, boardId: 1})
});

console.log(sessionId)

const {data: users} = await boardMembers.json();
---
<aside class="sidebar">
    <nav class="sidebar-content">
        <hr/>
        <h1> Mitglieder</h1>
        <ul class="sidebar-users">
            {users.map(user => (
                    <li class="user-item">
                        <div x-data="{ showComponent: false }">
                            <button class="profileIcon" @click="showComponent = !showComponent">
                                <span x-show="!showComponent"><i class="fa-solid fa-user"></i></span>
                                <span x-show="showComponent"><i class="fa-solid fa-user"></i></span>
                            </button>
                            <div x-show="showComponent">
                            </div>
                        </div>
                        <p>{user?.firstName} {user?.lastName}</p>
                        <div x-data="{ showComponent: false }">
                            <button class="chatCheckBox" @click="showComponent = !showComponent"
                                    style="cursor: pointer">
                                <span x-show="!showComponent"><i class="fa-regular fa-comment"></i></span>
                                <span x-show="showComponent"><i class="fa-regular fa-comment"></i></span>
                            </button>
                            <div x-show="showComponent">
                                <Ptp/>
                            </div>
                            <div x-show="showComponent">
                            </div>
                        </div>
                    </li>))}
        </ul>
        <ul>
            <li>Add user</li>
            <div class="add-board-member" x-data=`{
                showInput: false,
                taskData: { userEmail: "", boardId: "" },
                toggleInput() {
                    this.showInput = !this.showInput;
                },
                saveMember() {
                    if (this.taskData.userEmail.trim() !== "" && this.taskData.boardId.trim() !== "") {
                        fetch("${serverURL}/boards/board-member-to-board", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({ 
                                boardId: this.taskData.boardId,
                                email: this.taskData.userEmail 
                            })
                        }).then(() => {
                            // window.location.reload();
                        });
                    }
                },
                cancelMember() {
                    this.showInput = false;
                    this.taskData.userName = "";
                    this.taskData.boardId = "";
                }
            }`>
                <button @click="toggleInput" class="add-member-btn">
                    + Add Board Member
                </button>

                <div x-show="showInput" class="member-input-container">
                    <input type="text"
                           x-model="taskData.userName"
                           placeholder="Enter username"
                           class="member-input">

                    <input type="text"
                           x-model="taskData.boardId"
                           placeholder="Enter Board ID"
                           class="member-input">

                    <div class="member-action-btns">
                        <button @click="saveMember" class="save-member-btn">
                            Add Member
                        </button>
                        <button @click="cancelMember" class="cancel-member-btn">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </ul>

        <hr/>
    </nav>
    <div class="sidebar-footer">
        <p></p>
    </div>
</aside>