---
import Task from './task.astro';
import {serverURL} from '../../pages/conf.js';

let sessionId = Astro.cookies.get('sessionId').value;

let boardId = Astro.props.boardId;

const responseTasks = await fetch(`${serverURL}/tasks/get/byBoard`, {
    method: 'POST', headers: {
        'Content-Type': 'application/json'
    }, body: JSON.stringify({sessionId: sessionId, boardId: boardId})
});

const lists = [
    { listID: 'todo', listName: 'Zu erledigen' },
    { listID: 'doing', listName: 'In Bearbeitung' },
    { listID: 'validated', listName: 'Geprüft' },
    { listID: 'done', listName: 'Erledigt' }
];

const filteredTasks = {
    todo: [],
    doing: [],
    validated: [],
    done: []
};

const { data: tasks } = await responseTasks.json();
console.log(tasks);
let taskList = [];
for (let task of tasks) {
    taskList.push(task);

    if (task.taskStatus === 'todo') {
        filteredTasks.todo.push(task);
    } else if (task.taskStatus === 'doing') {
        filteredTasks.doing.push(task);
    } else if (task.taskStatus === 'validated') {
        filteredTasks.validated.push(task);
    } else if (task.taskStatus === 'done') {
        filteredTasks.done.push(task);
    }
}

---

<div class="dragAndDrop">
    {lists.map(list => (
            <div
                    class="list"
                    @drop="dropTask(event, { listID: list.listID })"
                    id={`list-${list.listID}`}
            >
                <h2>{list.listName}</h2>
                <Task listID={list.listID} tasks={filteredTasks[list.listID]}></Task>
            </div>))}
</div>
