---
import TaskDetails from "./taskDetails.astro";
const {tasks} = Astro.props;
---

{tasks.length === 0 ? (
<></>) : (
<>
    {tasks.map(task => (
            <div class="task" x-data="{ openDetails: false }" id=`task-${task.taskID}`>
                <div @click="openDetails = !openDetails" style="flex-direction: column">
                    <div class={`task-status status-${task.taskStatus}`}
                         style="float: left; height: 70px; width: 2%;"/>
                    <div style="width: 95%; float: right;">
                        <h3>{task.taskName}</h3>
                        {task.dueDate && <p style="margin-bottom: 1px">Fällig am: {new Date(task.dueDate).toLocaleDateString()}</p>}
                        <p>Priorität: {task.priorities}/5</p>
                    </div>
                </div>
                <div x-show="openDetails" @click.away="openDetails = false" class="dropdown">
                    <TaskDetails task={task}/>
                </div>
            </div>
    ))}
</>
    )}
