---
import {serverURL} from './conf.js';

import '../styles/global.css';
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>TaskRonaut - Registrieren</title>
</head>

<body>
<script>
    import {sessionId} from './user.js';
    import {clientURL} from './conf.js';

    if (sessionId) {
        window.location.href = `${clientURL}/`;
    }
</script>
<div class="login-register-container" id="login-register-container">
    <div class="register">
        <a class="close-button clickable"
           hx-get="/"
           hx-push-url="/"
           hx-swap="outerHTML"
           hx-target="#login-register-container"
           aria-label="Close"
        >&#10006;</a>
        <h2>Registrieren</h2>

        <form id="registration-form"
              hx-post=`${serverURL}/authentication/registration`
              hx-target="#response"
              hx-swap="innerHTML">
            <div class="nameDiv">
                <div class="labelInput">
                    <label for="firstName">Vorname</label>
                    <input type="text"
                           name="firstName"
                           id="firstName"
                           required
                           placeholder="Vorname"
                           minlength="1">
                </div>

                <div class="labelInput">
                    <label for="lastName">Nachname</label>
                    <input type="text"
                           name="lastName"
                           id="lastName"
                           required
                           placeholder="Nachname"
                           minlength="1">
                </div>
            </div>

            <div x-data="{ email: '' }">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       x-model="email"
                       @input="localStorage.setItem('userEmail', email)"
                       required
                       placeholder="Geben Sie Ihre E-Mail ein"
                       minlength="1">

            </div>

            <div class="password-div">
                <label for="password">Passwort</label>
                <input type="password"
                       name="password"
                       id="password"
                       required
                       placeholder="Passwort eingeben"
                       minlength="6"
                       title="6 Zeichen, Groß-, Kleinbuchstaben und Zeichen">

                <label for="repeatedPassword">Passwort wiederholen</label>
                <input type="password"
                       name="repeatedPassword"
                       id="repeatedPassword"
                       required
                       placeholder="Passwort wiederholen"
                       title="Passwort wiederholt eingeben"
                       minlength="6">
            </div>
            <button type="submit" class="clickable">Registrieren</button>
        </form>

        <div id="response" style="padding-top: 10px;"></div>

        <p>Du hast schon einen Account?
            <a hx-push-url="/login"
            hx-get="/login"
            hx-target="#login-register-container"
            hx-swap="innerHTML transition:true"
            aria-label="Einloggen"
            class="login-register-button clickable">
            Einloggen
            </a>
        </p>
    </div>
</div>


<script>
    import 'htmx.org';
    import Alpine from 'alpinejs';
    import {forwarding} from './forward.js';

    Alpine.start();

    document.addEventListener('htmx:beforeRequest', function (event) {
        if (event.detail.elt.id === 'registration-form') {
            const email = document.getElementById('email').value;
            localStorage.setItem('userEmail', email);

            // Password validation
            const password = document.getElementById('password').value;
            const repeatedPassword = document.getElementById('repeatedPassword').value;
            const responseDiv = document.getElementById('response');

            if (password !== repeatedPassword) {
                responseDiv.innerHTML = 'Die Passwörter stimmen nicht überein!';
                responseDiv.style.color = 'red';
                event.preventDefault(); // Stop the request
                return;
            } else {
                responseDiv.innerHTML = ''; // Clear error on success
            }
        }
    });
    document.addEventListener('htmx:afterRequest', forwarding);
</script>
</body>
</html>