---

---
<!DOCTYPE html>
<html>
<head>
    <title>Getting Cookies</title>
</head>
<body style="background-color: #18191b">
<div>
    <p style="color: whitesmoke">Session ID: <span id="sessionIdDisplay"></span></p>
    <p style="color: whitesmoke">User: <span id="user"></span></p>

    <script>
        import { firstName, lastName } from "./user.js";

        const sessionId = sessionStorage.getItem('sessionID');


        if (sessionId || firstName || lastName) {
            document.getElementById('sessionIdDisplay').textContent = sessionId;
            document.cookie = `sessionId=${sessionId}; path=/; max-age=86400`; // 1 tag

            document.cookie = `user=${firstName} ${lastName};`;
            document.getElementById('user').textContent = `${firstName} ${lastName}`;

            window.location.href = '/boards'

        } else {
            document.getElementById('sessionIdDisplay').textContent = "No session ID found";
            window.location.href = '/login';
        }
    </script>
</div>
</body>
</html>