---
import {serverURL} from './conf.js';

import '../styles/global.css';
import Alpine from "alpinejs";
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>TaskRonaut - Registrieren</title>
</head>

<body>
<script>
    import {sessionId} from './user.js';
    import {clientURL} from './conf.js';

    if (sessionId) {
        window.location.href = `${clientURL}/`;
    }
</script>
<div class="login-register-container" id="login-register-container">
    <div class="register">
        <a class="close-button clickable"
           href="/"
           aria-label="Close"
        >&#10006;</a>
        <h2>Registrieren</h2>

        <form id="registration-form"
              hx-post=`${serverURL}/authentication/registration`
              hx-target="#response"
              hx-swap="innerHTML">
            <div class="nameDiv">
                <div class="labelInput">
                    <label for="firstName">Vorname</label>
                    <input type="text"
                           name="firstName"
                           id="firstName"
                           required
                           placeholder="Vorname"
                           minlength="1">
                </div>

                <div class="labelInput">
                    <label for="lastName">Nachname</label>
                    <input type="text"
                           name="lastName"
                           id="lastName"
                           required
                           placeholder="Nachname"
                           minlength="1">
                </div>
            </div>

            <div x-data="{ email: '' }">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       id="email"
                       x-model="email"
                       @input="localStorage.setItem('userEmail', email)"
                       required
                       placeholder="Geben Sie Ihre E-Mail ein"
                       minlength="1">

            </div>

            <div class="password-div">
                <label for="password">Passwort</label>
                <input type="password"
                       name="password"
                       id="password"
                       required
                       placeholder="Passwort eingeben"
                       minlength="6"
                       title="6 Zeichen, Groß-, Kleinbuchstaben und Zeichen">

                <label for="repeatedPassword">Passwort wiederholen</label>
                <input type="password"
                       name="repeatedPassword"
                       id="repeatedPassword"
                       required
                       placeholder="Passwort wiederholen"
                       title="Passwort wiederholt eingeben"
                       minlength="6">
            </div>
            <button type="submit" class="clickable">Registrieren</button>
        </form>

        <div id="response" style="padding-top: 10px;"></div>

        <p>Du hast schon einen Account?
            <a hx-push-url="/login"
            hx-get="/login"
            hx-target="#login-register-container"
            hx-swap="innerHTML transition:true"
            aria-label="Einloggen"
            class="login-register-button clickable">
            Einloggen
            </a>
        </p>
    </div>
</div>



<script>
    import 'htmx.org';
    import Alpine from 'alpinejs';
    import {serverURL} from './conf.js';

    const HTTP_STATUS = {
        BAD_REQUEST: 400,
        CREATED: 201,
        OK: 200,
        CONFLICT: 409,
        Internal_Server_Error: 500,
        Unauthorized: 401
    };

    function updateResponse(color, message) {
        const responseElement = document.querySelector('#response');
        if (responseElement) {
            responseElement.innerHTML = message;
        }
    }

    function forwarding(event) {
        const {xhr, successful: isSuccessful, failed: isFailed, target} = event.detail;
        const status = xhr.status;
        const responseText = xhr.responseText;

        const requestOrigin = new URL(xhr.responseURL).origin;
        if (requestOrigin !== `${serverURL}`) {
            console.error("Ungültige Anfrage von:", requestOrigin, ". Expected: " + serverURL);
            return;
        }

        switch (status) {
            case HTTP_STATUS.BAD_REQUEST:
                let errorMessage = responseText || "Ein Fehler ist aufgetreten. Bitte versuche es erneut.";
                try {
                    const errorData = JSON.parse(responseText);
                    if (window.location.pathname === "/register") {
                        errorMessage = "Registrierung fehlgeschlagen.<br>Bitte überprüfen Sie Ihre Eingaben und versuchen Sie es erneut.";
                    } else if (window.location.pathname === "/login") {
                        errorMessage = "Falsches Passwort oder E-Mail-Adresse. Bitte versuchen Sie es erneut.";
                    }
                } catch (error) {
                    console.error("Fehler beim Parsen der JSON-Antwort:", error);
                }
                updateResponse('#c40000', errorMessage);
                console.error(`Fehler ${status}:`, errorMessage);
                break;

            case HTTP_STATUS.CREATED:
                if (window.location.pathname === "/register") {
                    updateResponse('#009900', "Erfolgreich erstellt!");
                    console.log("Erstellung erfolgreich!");

                    try {
                        const data = JSON.parse(responseText);
                        localStorage.setItem('registerData', JSON.stringify(data));
                    } catch (error) {
                        console.error("Fehler beim Parsen der JSON-Antwort:", error);
                    }

                    setTimeout(() => {
                        window.location.href = '/emailConfirmation';
                    }, 100);
                }
                break;

            case HTTP_STATUS.Unauthorized:
            case HTTP_STATUS.Internal_Server_Error:
                let unauthorizedErrorMessage = responseText || "Ein Fehler ist aufgetreten. Bitte versuche es erneut.";
                try {
                    const errorData = JSON.parse(responseText);
                    if (window.location.pathname === "/login") {
                        unauthorizedErrorMessage = "Falsches Passwort oder E-Mail-Adresse. Bitte versuchen Sie es erneut.";
                    }
                } catch (error) {
                    console.error("Fehler beim Parsen der JSON-Antwort:", error);
                }
                updateResponse('#c40000', unauthorizedErrorMessage);
                console.error(`Fehler ${status}:`, unauthorizedErrorMessage);
                break;

            case HTTP_STATUS.OK:
                if (window.location.pathname === "/login") {
                    updateResponse('#009900', "Erfolgreich eingeloggt!");
                    console.log("Login erfolgreich!");

                    try {
                        const data = JSON.parse(responseText);
                        const sessionCookie = data.data.session;
                        const sessionId = data.data.sessionId;
                        sessionStorage.setItem('sessionCookie', JSON.stringify(sessionCookie));
                        sessionStorage.setItem('sessionID', JSON.stringify(sessionId));
                    } catch (error) {
                        console.error("Fehler beim Parsen der JSON-Antwort:", error);
                    }

                    setTimeout(() => {
                        window.location.href = '/getCookies';
                    }, 100);
                }
                break;

            case HTTP_STATUS.CONFLICT:
                let emailErrorMessage = responseText || "Ein Fehler ist aufgetreten. Bitte versuche es erneut.";
                try {
                    const errorData = JSON.parse(responseText);
                    if (window.location.pathname === "/register") {
                        emailErrorMessage = "Diese E-Mail-Adresse ist bereits registriert.<br>Bitte melden Sie sich an oder verwenden Sie eine andere E-Mail-Adresse.";
                    }
                } catch (error) {
                    console.error("Fehler beim Parsen der JSON-Antwort:", error);
                }
                updateResponse('#c40000', emailErrorMessage);
                console.error(`Fehler ${status}:`, emailErrorMessage);
                break;

            default:
                console.log("Antwortstatus:", status);
                break;
        }

        if (isSuccessful) {
            console.log("Anfrage erfolgreich:", { status, responseText, target });
        } else if (isFailed) {
            console.error("Anfrage fehlgeschlagen:", { status, responseText, target });
        }
    }

    Alpine.start();
    document.addEventListener('htmx:afterRequest', forwarding);
</script>
</body>
</html>